.main{
    height: calc(100vh - 80px);
    width: 100%;
    transition: all 0.5s ease;
}

.hero{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.hl{
    padding: 50px;
    width: 200px;
    max-width: 60%;
    display: flex;
    text-align: left;
    flex-direction: column;
    letter-spacing: 5px;
    line-height: 140px;
}

.hl p{
    letter-spacing: unset;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 10px 0;
    font-weight: 300;
}

.hl h1{
    font-size: 100px;
}

.hr {
    flex: 1;
    min-width: 300px;
    max-width: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.hr .imgdiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr .imgdiv img {
    max-width: 90%;
    max-height: 90%; 
    object-fit: cover; 
}


.gynBtn{
    width: fit-content;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.gynBtn:hover{
    transform: translateY(-2px);
}


@media screen and (max-width: 650px) {
    .hl{
        max-width: unset;
        width: unset;
        letter-spacing: unset;
        line-height: unset;
    }

    .hl h1{
        font-size: 10vw;
        font-weight: 800;
        white-space: unset;
        line-height: unset;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hl p{
        font-size: 4vw;
        font-weight: 300;
        text-align: center;
    }

    .gynBtn{
        margin: 10px auto;
    }
}